@font-face {
  font-family: norse-bold;
  src: url(./Norse-Bold.otf);
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  min-width: 250px;
  min-height: 250px;
}

.left-banner {
  display: flex;
  flex: 0 2 auto;
  background-image: url(./leaves.jpg);
  width: 33vw;
  min-width: 310px;
}

.right-page-content {
  display: flex;
  flex-direction: column;
  flex: 2.25 1 auto;
  background-color: rgb(235, 235, 235);
}

.flex-1 {
  display: flex;
  flex: 1 0 auto;
  height: 33vh;
}

.text-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 50px;
}

.main-text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 26px;
}

.form-content {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-direction: column;
}

.form {
  background-color: white;
  box-shadow: 5px 2px 5px rgba(128, 128, 128, 0.3);
}

p {
  margin-bottom: 0px;
}

.content-flex-container-size {
  margin-left: 40px;
  margin-right: 40px;
  width: 800px;
}

.logo-banner {
  display: flex;
  justify-content: center;
  background-color: rgb(20, 20, 20, 0.50);
  height: 150px;
  width: 100%;
  margin-top: 220px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo-text {
  color: white;
  font-family: Norse-Bold;
  font-size: 120px;
  vertical-align: middle;
  padding-top: 15px;
}

.form-items {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.form-row {
  display: flex;
  flex-direction: row;
}

label, input {
  display: block;
  font-size: 14px;
}

label {
  color:rgba(49, 49, 49, 0.911);
}

input {
  border: 1px solid gray;
  border-radius: 4px;
  height: 24px;
  background-color: rgb(250, 250, 250);
}

form {
  margin-right: 80px;
  margin-top: 10px;
  margin-bottom:10px;
}

.flex-column {
  flex-direction: column;
}

.create-account-button {
  width: 230px;
  height: 50px;
  font-size: 14px;
  font-weight: bold;
  color:white;
  background-color: rgb(69, 114, 69);
  border: 0px;
  border-radius: 6px;
  margin-left: 40px;
  margin-top: 40px;
}

.login-text {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  margin-left: 40px;
  margin-top: 20px;
}

.login-button {
  text-decoration: none;
  font-weight: bold;
  color: rgb(69, 114, 69);
}